<%= render partial: 'common/navi' %>

  <section class="help_content">
    <div class="help_container">
      <div class="panel-group" id="accordion">
        
        <%= image_tag('help.gif',:class => "help_logo")%>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">本アプリについて</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ このアプリの開発目的' ,main_help1_path %>
            </div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 自分の作品に他者が色塗ってくれる' ,main_help2_path %>
            </div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 自分が他者の作品に手を加えれる' ,main_help3_path %>
            </div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 料金はかかるのか？' ,main_help4_path %>
            </div>
          </div>
        </div>
  
          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">各メニューについて</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ ホームとは？' ,navi_help1_path %>
            </div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 線画を投稿するとは？' ,navi_help2_path %>
            </div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 皆の作品とは？' ,navi_help3_path %>
            </div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 申請関連とは？' ,navi_help4_path %>
            </div>
          </div>
            <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ ヘルプとは？' ,navi_help5_path %>
            </div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ サインアウトとは？' ,navi_help6_path %>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">投稿について</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body ">
              <%= link_to '■ 線画投稿とは？' ,post_help1_path %>
            </div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 完成品投稿とは？' ,post_help2_path %>
            </div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 投稿形式.psdが決められている？' ,post_help3_path %>
            </div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ タグとは？' ,post_help4_path %>
            </div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 投稿が出来ない時？' ,post_help5_path %>
            </div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= link_to '■ 投稿を削除したい時？' ,post_help6_path %>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">申請について</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請の許可 不許可について</div>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請が許可された時？</div>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請が不許可だった時？</div>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">■ 申請対処済とは？</div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">マイページについて</a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ マイページで出来る事とは？</div>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ 自分の投稿した線画はどこ？</div>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ 自分が手掛けた完成品はどこ？</div>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">■ プロフィールの画像の変え方は？</div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">その他</a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">■ 退会方法について</div>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">■ 通報機能について</div>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">■ 禁止事項について</div>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">■ お問い合わせについて</div>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">■ リクエストについて</div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

<%= render partial: 'common/footer' %>