<%= render partial: 'common/navi' %>

<!-- 詳細画像 -->    
  <section class="content">
    <div class="container">
      
      <h4 class="show_tittle">
        <%= @paint.senga.tittle %>
      </h4>
      
    <!-- 画像 -->    
    <%= image_tag (@paint.image.url + '.png'), class: 'show_image' %>
    
      <!-- 画像情報 -->
      <div class="senga_info">
        
        <p class="card-text text-center">
          <div class="box9">
              <span class="box-title">内容</span>
              <%= @paint.description %>
          </div>
          <div class="name">
            <div class="name_senga">
              <%= image_tag('sengatoukousha.gif',:class => "name_image")%>
              <%= link_to @paint.senga.user.name, profile_path(@paint.senga.user),:class => "name" %>
            </div>
            <div class="name_paints">
              <%= image_tag('iraisuikousha.gif',:class => "name_image")%>
              <%= link_to @paint.user.name, profile_path(@paint.user),:class => "name" %>
            </div>
          </div>
          <div class="info">
            <% if @paint.user_id != current_user.id %>
              <% if PaintLike.find_by(:user_id => current_user.id , :paint_id => @paint.id )  %>
              　<div class="edit pt-3">
                  <button type="button" 
                    class="btn btn-secondary btn-light "
                    aria-haspopup="true"
                    aria-expanded="false">
                    <%= link_to paint_like_path(params[:id]) do %>
                      <%= image_tag('no_favorite.gif',:class => "nav_menu")%>
                    <% end %>
                  </button>
                </div>
              <% else %>
              　<div class="edit pt-3">
                  <button type="button" 
                    class="btn btn-secondary btn-light "
                    aria-haspopup="true"
                    aria-expanded="false">
                    <%= link_to paint_like_path(params[:id]) do %>
                      <%= image_tag('favorite.gif',:class => "nav_menu")%>
                    <% end %>
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
        </p>
      </div>
     
    </div>
  </section>

  <%= render partial: 'common/footer' %>