<%= render partial: 'common/navi' %>

<div class="profile">
  
  <div class="image">
    <div style="background: url('<%= image_url(@user) %>'); background-position: 50%; background-size: cover;"></div>
  </div>
  <div class="info">
    
    <div class="name">
      <h1><%= @user.name %></h1>
    </div>
    
  </div>
  
</div>

<%= @user.id %>
<%= link_to '編集する' ,profile_edit_path %>
<%= render partial: 'common/footer' %>