<%= render partial: 'common/navi' %>

<!-- 詳細画像 -->    
  <section class="content">
    <div class="container">
      
      <h4 class="show_tittle">
        <%= @senga.tittle %>
      </h4>
      
    <!-- 画像 -->    
    <%= image_tag (@senga.image.url + '.png'), class: 'show_image' %>
    
      <!-- 画像情報 -->
      <div class="senga_info">
        
        <p class="card-text text-center">
          
          <!-- 依頼内容 -->
          <div class="box9">
              <span class="box-title">依頼内容</span>
              <%= @senga.description %>
          </div>
          
          <div class="info">
            
            <!--線画担当者-->
            <div class="name">
              <div class="name_senga">
                <%= image_tag('sengatoukousha.gif',:class => "name_image")%>
                <%= link_to @senga.user.name, profile_path(@senga.user),:class => "name"%>
              </div>
            </div>
            
            <!--お気に入り-->
            <% if @senga.user_id != current_user.id %>
              <!--% if current_user.senga_requests.find_by(:senga_id => @senga.id) && current_user.senga_requests.find_by(:senga_id => @senga.id).permission != true %-->
                <% if SengaLike.find_by(:user_id => current_user.id , :senga_id => @senga.id )  %>
                  <div class="edit pt-3">
                    <button type="button" 
                      class="btn btn-secondary btn-light "
                      aria-haspopup="true"
                      aria-expanded="false">
                      <%= link_to senga_like_path(params[:id]) do %>
                        <%= image_tag('no_favorite.gif',:class => "nav_menu")%>
                      <% end %>
                    </button>
                  </div>
                <% else %>
                  <div class="edit pt-3">
                    <button type="button" 
                      class="btn btn-secondary btn-light "
                      aria-haspopup="true"
                      aria-expanded="false">
                      <%= link_to senga_like_path(params[:id]) do %>
                        <%= image_tag('favorite.gif',:class => "nav_menu")%>
                      <% end %>
                    </button>
                  </div>
                <% end %>
              <!--% end %-->
            <% end %>
            
            <!--申請-->
            <% if @senga.user_id != current_user.id %>
              <% if SengaRequest.find_by(:user_id => current_user.id, :senga_id => @senga.id )%>
                <% if SengaRequest.find_by(:user_id => current_user.id, :senga_id => @senga.id ).permission != true %>
                  <%= link_to '申請取り消し', senga_request_path(@senga.id) , class: "show_btn-square"%>
                <% end %>
                <% else %>
                
                <div class="edit pt-3">
                  <button type="button" 
                    class="btn btn-secondary btn-light "
                    aria-haspopup="true"
                    aria-expanded="false">
                    <%= link_to senga_request_path(@senga.id) do %>
                      <%= image_tag('sinsei.gif',:class => "nav_menu")%>
                    <% end %>
                  </button>
                </div>

                <% end %>
            <% end %>
          </div>
        
        <div class="Application">
          <% if @senga.user_id == current_user.id %>
            <p>
              申請者一覧
            </p>
            <% @senga.senga_requests.where(permission: nil).or(@senga.senga_requests.where(permission: true)).each do |r| %>
              <div>
                <!--申請者一覧-->
                <%=link_to r.user.name, profile_path(r.user) %>
                <% if r.permission != true %>
                  <p><%= link_to '許可' , senga_request_commit_path(r.id) , class: "btn btn-large"%>
                <% elsif r.permission == true %>
                  <p>許可対応済み</p>
                <% end %>
                <% if r.permission != true %>
                  <%= link_to '不許可' , senga_request_deny_path(r.id) , class: "btn btn-large"%></p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        
        <div class ="download">
          <% if current_user.senga_requests.find_by(:senga_id => @senga.id) && current_user.senga_requests.find_by(:senga_id => @senga.id).permission == true %>
            <p><%= link_to '線画をダウンロード' ,@senga.image.url %></p>
          <% end %>
          
          <% if current_user.senga_requests.find_by(:senga_id => @senga.id) && current_user.senga_requests.find_by(:senga_id => @senga.id).permission == true %>
            <p><%= link_to '投稿する' ,paints_path(senga_id: @senga.id) %></p>
          <% end%>
        </div>
        
      </div>
     
    </div>
  </section>

  <%= render partial: 'common/footer' %>