<%= render partial: 'common/navi' %>
<main role="main" class="list_mian" >
  <div class="list">
    
    <!--ユーザーリスト-->
    <!--div class="rank_box">
      <!%= link_to '線画お気に入り順',senga_list_path(type: 'senga_rank') ,class: 'senga_rank' %>
      <!%= link_to '完成品お気に入り順',senga_list_path(type: 'paint_rank') ,class: 'paint_rank' %>
    </div-->
    
    <div class="list_container">
      <div class="list_row">
        
        <% if @pictures.any? %>
          <% @pictures.each do |s| %>
            <div class="col-md-3">
              <div class="Request" >
                
                <!--依頼書風の穴-->
                <div class="holl">
                  <div class="Circle">
                  </div>
                </div>
                                  
                <!-- class名がSengaの場合【お気に入り】 -->
                <% if s.class.name == "Senga" %>
                  <p class="favorite text-center">
                    お気に入り<%= s.senga_likes.length %>件
                  </p>
                <% end %>
                
                <!-- class名がPaintの場合【お気に入り】 -->
                <% if s.class.name == "Paint" %>
                  <p class="card-text text-center">
                    お気に入り<%= s.paint_likes.length %>件
                  </p>
                <% end %>
                
                <!-- class名がSengaの場合【画像】 -->
                <% if s.class.name == "Senga" %>
                  <%= link_to senga_path(s) do %>
                    <%= image_tag (s.image.url + '.png'), class: 'list_image' %>
                  <% end %>
                <!-- class名がPaintの場合【画像】 -->
                <% elsif s.class.name == "Paint"%>
                  <%= link_to paint_path(s) do %>
                    <%= image_tag (s.image.url + '.png'), class: 'list_image' %>
                  <% end %>
                <% end %>
                
                <!-- class名がSengaの場合【タイトル】 -->
                <% if s.class.name == "Senga" %>
                  <div class="list_tittle">
                    <%= s.tittle %>
                  </div>
                
                <!-- class名がPaintの場合【タイトル】 -->
                <% elsif s.class.name == "Paint" %>
                  <div class="list_tittle">
                    <%= s.senga.tittle %>
                  </div>
                <% end %>
                
                <div class="senga-body">
                  
                  <!-- class名がSengaの場合【線画投稿者の名前】 -->
                  <% if s.class.name == "Senga"%>
                    <!-- 線画投稿者の情報 -->
                    <div class="text-center">
                      <div style="background: url('<%= image_url(s.user) %>'); background-position: center; background-size: cover" class="isenga">
                      </div>
                      <div class="name">
                        <%= link_to s.user.name, profile_path(s.user),:class => "name"%>
                      </div>
                      <%= image_tag('sengatoukousha.gif',:class => "name_image")%>
                    </div>
                  <!-- class名が paintの場合【投稿者の名前】 -->
                  <% elsif s.class.name == "Paint"%>
                    <!-- 線画投稿者の情報 -->
                    <div class="text-center">
                      <div class="name">
                        <!--依頼遂行者-->
                        <%= image_tag('iraisuikousha.gif',:class => "name_image")%>
                        <%= link_to s.user.name, profile_path(s.user),:class => "name"%>
                      </div>
                    </div>
                  <% end %>
                  
                  <!-- class名がSengaの場合【内容】 -->
                  <!--% if s.class.name == "Senga" %>
                      <div class="box3">
                        <span class="box-title">依頼内容</span>
                        <!-%= s.description %>
                      </div>
                  <!-- class名がPaintの場合【内容】 -->
                  <!--% elsif s.class.name == "Paint"%>
                      <div class="box3">
                        <span class="box-title">作品内容</span>
                        <!--%= s.description %>
                      </div>
                  <!% end %-->
                  
                  <div class="box10">
                  <span class="box-title">タグ</span>
                  
                    <!-- class名がSengaの場合 -->
                    <% if s.class.name == "Senga" %>
                      <% s.senga_categories.each do |sc| %>
                        <%=link_to sc.category.name, senga_list_path(category: sc.category.id,type: 'category') %>
                      <% end %>
                    <!-- class名がPaintの場合 -->
                    <% elsif s.class.name == "Paint"%>
                      <% s.senga.senga_categories.each do |sc| %>
                        <%=link_to sc.category.name, paint_list_path(category: sc.category.id,type: 'category') %>
                      <% end %>
                    <%end%>
                  </div>
                  
                  <!-- ユーザーがcurrent_userの場合【 削除 】 -->
                  <% if s.user_id == current_user.id %>
                      <button type="button" 
                        class="btn btn-secondary btn-light "
                        aria-haspopup="true"
                        aria-expanded="false">
                        <%= link_to senga_delete_path(s), method: :delete do %>
                          <%= image_tag('sakujo.gif',:class => "delete")%>
                        <% end %>
                      </button>
                  <% end %>
                  
                </div>
              </div>
            </div>
          <% end %>
        
        <!-- データが空の場合 -->  
        <% else %>
          <div class="nill_box">
            <p class"empty">登録データが空です</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<div class='p-top__paginate'><%= paginate(@pictures) %></div>

<%= render partial: 'common/footer' %>